[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
whitenoise = "*"
python-decouple = "*"
asgiref = "*"
sqlparse = "*"
requests = "*"
psycopg2 = "==2.8.6"

[dev-packages]

[requires]
python_version = "3.9"
